<div class="bg-img">
<div class="page-wrapper">
    <div class="authentication-box">
        <div class="container">
            <div class="row">
                <div class="col-md-7 p-0" *ngIf="state == 1">
                    <div class="card tab2-card">
                        <div class="card-body">
                            <ngb-tabset  class="tab-coupon mb-0">
                                <ngb-tab id="tab1">
                                    <ng-template ngbTabTitle><i class="icon-user mr-2"></i>Forget Password</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="form-horizontal auth-form">
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <input type="text" [(ngModel)]="emailId" class="form-control" id="email" placeholder=" example@domain.com" required="">
                                                </div>
                                                
                                            </div>
                                            <div style="text-align: center;">
                                                <button *ngIf="!isLoading" class="btn btn-primary" type="submit"  (click)="generate()">Generate OTP</button>
                                                <button *ngIf="isLoading" class="btn btn-primary" > <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> &nbsp;&nbsp; Loading ...</button>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <a routerLink="/auth/login">Back</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 p-0" *ngIf="state == 2">
                    <div class="card tab2-card">
                        <div class="card-body">
                            <ngb-tabset  class="tab-coupon mb-0">
                                <ngb-tab id="tab1">
                                    <ng-template ngbTabTitle><i class="icon-user mr-2"></i>Enter OTP</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="form-horizontal auth-form">
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <input type="text" maxlength="4" class="form-control otp" style="text-align: center; font-size: large; font-weight: bold;" [(ngModel)]="otp"
                                                    placeholder="****">
                                                </div>
                                                
                                            </div>
                                            <div style="text-align: center;">
                                                <button *ngIf="!isLoading" class="btn btn-primary" type="submit"  (click)="goToReset()">Verify OTP</button>
                                                <button *ngIf="isLoading" class="btn btn-primary" > <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> &nbsp;&nbsp; Loading ...</button>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <a (click)="backToGenerate();">Back</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>


                <div class="col-md-7 p-0" *ngIf="state == 3">
                    <div class="card tab2-card">
                        <div class="card-body">
                            <ngb-tabset  class="tab-coupon mb-0">
                                <ngb-tab id="tab1">
                                    <ng-template ngbTabTitle><i class="icon-user mr-2"></i>Register New Password</ng-template>
                                    <ng-template ngbTabContent>
                     
                                            <form class="form-horizontal auth-form" [formGroup]="resetForm" (ngSubmit)="resetPassword();">
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <small
                                                        [class.d-none]="resetForm.get('newPassword').valid || resetForm.get('newPassword').untouched"
                                                        class="text-danger">Invalid! at least one number.</small>
                                                        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                                                        formControlName="newPassword"
                                                        placeholder="New Password">
                                                    </div>
                                                   
                                                </div>
                                                <div style="text-align: end;">
                                                    <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType }" (click)="toggleFieldTextType()"></i>
                                                </div>
                                                <div class="form-row">
                                                    
                                                    <div class="col-md-12">
                                                        <small
                                                        [class.d-none]="resetForm.get('confirmPassword').valid || resetForm.get('confirmPassword').untouched"
                                                        class="text-danger">Invalid! at least one number.</small>
                                                        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                                                        formControlName="confirmPassword"
                                                        placeholder="Confirm Password">
                                                    </div>
                                                   
                                                </div>
                                                <div style="text-align: center;">
                                                <button type="submit" *ngIf="!isLoading" class="btn btn-primary"  [disabled]="!resetForm.valid">Confirm</button>
                                                <button *ngIf="isLoading" class="btn btn-primary"><i class="fa fa-spinner fa-spin"
                                                    aria-hidden="true"></i> &nbsp;&nbsp;Loading...</button>
                                                </div>
                                                </form>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>