<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-5 col-xl-5">
                            <input list="name" class="form-control" placeholder="Search By First name" type="text"
                                (keyup)="search($event,1)" [(ngModel)]="patientName" (change)="select($event)">
                            <datalist id="name">
                                <option *ngFor="let item of patientList" [value]="item.id">
                                    {{item.firstName}}
                                    {{item.lastName}}</option>
                            </datalist>
                        </div>
                        <div class="col-5 col-xl-5">
                            <input list="mobile" class="form-control" type="number" placeholder="Search By Mobile No."
                                (keyup)="search($event,2)" [(ngModel)]="mobileNumber" (change)="select($event)">
                            <datalist id="mobile">
                                <option *ngFor="let item of patientList" [value]="item.id">{{item.mobileNumber}}
                                </option>
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="user-status table-responsive latest-order-table">
                        <table class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col">Patient</th>
                                    <th scope="col">Mobile No.</th>
                                    <th scope="col">Service</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Bill Number</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of serviceList | paginate: config ;let i = index;">
                                    <td class="name">{{item.usage.user.firstName}} {{item.usage.user.lastName}}</td>
                                    <td>{{item.usage.user.mobileNumber}}</td>
                                    <td>{{item.usage.listOfServices.name}}</td>
                                    <td>{{item.usage.costing}}</td>
                                    <td>{{item.usage.billNumber}}</td>
                                    <td>{{item.date}}</td>
                                    <td>
                                        <button *ngIf='item.isApproved == ""' disabled
                                            class="btn btn-warning status">Pending</button>
                                        <button *ngIf='item.isApproved == "false"' disabled
                                            class="btn btn-danger status">Rejected</button>
                                        <button *ngIf='item.isApproved == "true"' disabled
                                            class="btn btn-success status">Aproved</button>

                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <div style="text-align: center;padding: 0.8rem;">
                                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>